<table class="table table-hover table-striped">
    <thead class="thead-dark">
        <tr class="text-center">
            <th>Image</th>
            <th>Name</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for product in product_category.products %}
        <tr class="text-center">
            <td>TODO ADD PRODUCT IMG</td>
            <td>{{ product.name }}</td>
            <td>TODO ADD PRODUCT PRICE</td>
            <td>
                <a class="btn btn-primary" href="{{ path( 'product_show' , { 'id': product.id} ) }}">Show</a>
                <a class="btn btn-success" href="{{ path('WishListNew', {'productId': product.id}) }}">Add to WishList</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
