{#/**#}
{#* VI-36 AddCategoryImage#}
{#*#}
{#* @category   CategoryImages#}
{#* @package    Virtua_AddCategoryImage#}
{#* @copyright  Copyright (c) Virtua#}
{#* @author     Name <m.sobon@wearevirtua.com>#}
{#*/#}

{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-success">{{ button_label|default('Add Image to category') }}</button>
{{ form_end(form) }}