{% extends 'base.html.twig' %}

{% block title %}Edit ProductCategory{% endblock %}

{% block body %}
    {% for message in app.flashes('notice') %}
        <div style="background: greenyellow; ">
            {{ message }}
        </div>
    {% endfor %}
    <h1>Edit ProductCategory</h1>

    {{ include('product_category/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('product_category_index') }}">back to list</a>

    {{ include('product_category/_delete_form.html.twig') }}
{% endblock %}