{#/**#}
{#* VI-40 WishListController#}
{#*#}
{#* @category   WishList#}
{#* @package    Virtua_WishList#}
{#* @copyright  Copyright (c) Virtua#}
{#* @author     Mateusz Soboń <m.sobon@wearevirtua.com>#}
{#*/#}

{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}

    <a id="a" href="{{ path('WishListNew', {'productId': '5'}) }}">test</a>
{% endblock %}
