{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}

    <a id="a" href="{{ path('WishListNew', {'productId': '5'}) }}">test</a>
{% endblock %}
