/**
* Module
*
* @category   Virtua
* @package    Virtua_Module
* @copyright  Copyright (c) Virtua
* @author     Dawid Kruczek
*/
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ path('product_category_index') }}">MainPage</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% for category in category_service.getAllCategory() %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('product_category_show', {'id': category.id}) }}">{{ category.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</nav>

