{% extends 'base.html.twig' %}
{#/**#}
{#* VI-31#}
{#*#}
{#* @category   Virtua#}
{#* @package    Virtua_Module#}
{#* @copyright  Copyright (c) Virtua#}
{#* @author     Name <m.sobon@wearevirtua.com>#}
{#*/#}
{% extends 'base.html.twig' %}
{% block title %}HelloB{% endblock %}

{% block body %}
    <h1>Page b</h1>
    <div>{{ date }}</div>
    <p>Lorem Ipsum</p>
{% endblock %}
