{#/**#}
{#* VI-44 - Add and Edit gallery#}
{#* @category   Template#}
{#* @package    Gallery#}
{#* @copyright  Copyright (c) Virtua#}
{#* @author     Dawid Kruczek#}
{#*/#}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{{ form_start(form) }}
    {{ form_widget(form) }}
    <div id="imagesProto" data-prototype="{{ form_widget(form.images.vars.prototype)|e }}"></div>
    <button class="add-new-image">Add new images</button>
    <div class="row">
        <div class="col col-xs-12" id="imagesBox"></div>
    </div>
    <button type="submit"  class="btn btn-primary">Save</button>
{{ form_end(form) }}